body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.board{
    border: 5px dashed #000;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.square.black{
    background-color:black;
    color:white;
}
.square {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vmin;
}